/* body {
  margin: 0 auto !important;
  width: 720px;
} */

/* Header */
/* header {
  padding: 16px 8px;
} */

/* header > nav > ul {
  display: flex;
  flex-direction: row;

  list-style: none;
  margin-bottom: unset;
}

header > nav > ul > li {
  margin-right: 16px;
} */
/* End: Header */

/* Footer */
footer {
  text-align: center;
}
/* End: Footer */

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.project-list-item__add {
  min-height: 257px;
}

.project-list-item--add {
  justify-content: center;
  align-items: center;
  font-size: 3em;
  cursor: pointer;
  color: rgba(34, 34, 34, 0.71);
}

.project-list-item--add:hover {
  color: #222;
}

.project-list-item__info {
  flex: 1;
}

.card {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 0 0 rgba(130,130,130,.1), 0 3px 10px rgba(0,0,0,.25);
}