header
  nav.uk-navbar-container.uk-margin(uk-navbar)
    div.uk-navbar-left
      a.uk-navbar-item.uk-logo(href='#') VolcanoDB
    div.uk-navbar-right
      ul.uk-navbar-nav
        li
          a(href='#') Home
        li
          a(href='#') Docs